<div class="navbar-brand">
    <%= link_to root_path do %>
        <%= image_tag "prs-logo.png"%>
    <% end %>        
</div>
<div>
    <ul>
        <li class="button-navbar">Documentation</li>
        <li class="button-navbar">        
          <%= link_to 'Contribute', pages_contributions_path %>
        </li>
    </ul>
</div>
