<div class="navbar-brand">
    <img src="prs-logo.png" alt="PRS Guitars">
</div>
<div>
    <ul>
        <li class="navbar-link">About</li>
        <li class="navbar-link">Documentation</li>
        <li class="navbar-link">Contribute</li>
    </ul>
</div>
