<div class="navbar-brand">
    <%= link_to root_path do %>
        <%= image_tag "prs-logo.png"%>
    <% end %>        
</div>
<div>
    <ul>
        <%= link_to pages_documentation_path do %>
            <li class="button-navbar">Documentation</li>
        <% end %>            
        <%= link_to pages_contributions_path do %>
            <li class="button-navbar">Contribute</li>
        <% end %>
    </ul>
</div>
