<h1>Contribute to our archives</h1>
<p>If you own a piece of equipment and you want to help grow
our archives to help our luthier, collector and guitar
aficionado community please fill the form correspondent 
to your gear category.</p>

<%= link_to 'Add a new guitar', new_guitar_path, class: 'button-link' %>

