<h1>Paul Reed Smith specifications API</h1>
<div>
    <%= render partial: 'shared/about' %>
</div>
<div>
    <div>
        <form action="">
            <span>https://swapi.dev/api/</span>
            <input type="text">
            <button type=submit>request</button>

        </form>
    </div>
    <div>
        <%= render partial: 'shared/sample' %>
    </div>
</div>
