<h1>Paul Reed Smith specifications API</h1>
<div class="container-section">
    <%= render partial: 'shared/about' %>
</div>
<div class="container-section">
    <div class="container-form">
        <form action="">
            <span class="accent-url">https://swapi.dev/api/</span>
            <input type="text">
            <button type=submit class="button-custom">request</button>

        </form>
    </div>
    <div class="container-sample">
        <%= render partial: 'shared/sample' %>
    </div>
</div>
