ul {
    list-style: none;

    li {
        display: inline-block;
    }
}
a, button {
    color: $white;

    &:hover, &:active, &:visited{
        color: inherit;
        text-decoration: none;
    }
}